@model Book

<form method="post">
	<input hidden asp-for="Id" />
	<div class="card mb-3 mt-5">
		<div class="row g-2">
			<div class="col-md-4">
				<img src="@Model.ImageUrl" class="img-fluid rounded-start" style="width: 100%; height: 25vw; object-fit: cover;">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title mb-2">@Model.Title</h2>
					<h5 class="card-title mb-4">@Model.Author</h5>
					<p class="card-text">@Model.Description</p>
					<p><b>ISBN:</b> @Model.ISBN</p>
					
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<h4 class="text-end me-1 pb-2">Price: <b>@Model.Price.ToString("c")</b></h4>
					<div class="col-12 col-md-6 pb-1">
						<a asp-action="Index" class="btn btn-info form-control">Back to Home</a>
					</div>
					<div class="col-12 col-md-6 pb-1">
						<button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
					</div>
				</div>
				
			</div>
		</div>
		<div class="col-2">
			
		</div>
		
	</div>
</form>