@model GetBooks.Models.ViewModels.UserEditVM;

<form method="post" asp-action="Edit">
	<div class="row mt-3">
		<input asp-for="@Model.UserVM.Id" hidden />
		<div class="col-8 border p-3 mx-auto row">
			<div class="col-12 pb-2">
				<h2 class="text-primary">Edit User</h2>
				<hr />
			</div>

			<div class="mb-3">
				<label asp-for="@Model.UserVM.Email"></label>
				<input asp-for="@Model.UserVM.Email" class="form-control"/>
				<span asp-validation-for="@Model.UserVM.Email" class="text-danger"></span>
			</div>
			<div class="mb-5 col-6">
				<label asp-for="@Model.UserVM.Role"></label>
				<select asp-for="@Model.UserVM.Role" asp-items="@Model.RoleList" class="form-select">
				</select>
				<span asp-validation-for="@Model.UserVM.Role" class="text-danger"></span>
			</div>

			<div class="mb-3 col-6">
				<label asp-for="@Model.NewPassword"></label>
				<input asp-for="@Model.NewPassword" class="form-control"/>
				<span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
			</div>
			<div class="col-12 btn-group role-group">
				<button type="submit" class="btn btn-primary me-2"><i class="bi bi-pencil-square"></i> Update</button>
				<a onclick=Delete("@Model.UserVM.Id") class="btn btn-secondary me-2"><i class="bi bi-trash-fill"></i> Delete</a>
				<a asp-controller="User" asp-action="Index" class="btn btn-info me-2"> Back To List</a>
			</div>
		</div>
		<div asp-validation-summary="All" class="text-danger mt-3 d-flex aligns-items-center justify-content-center"></div>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/userDelete.js"></script>
}

